In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import sklearn as sk

In [2]:
df=pd.read_csv('/Users/chrisgilibert/neuefische/kickstar/data/data2/final_frame.csv')
df.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,id,is_starrable,launched_at,...,state_changed_at,ratio_target,subcategy_id,subcategory,category,category_id,month_project,weekday,duration,convert_goal
0,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,928751314,False,2017-08-10 17:00:59,...,2017-09-09 17:00:59,1.950000,273,Playing Cards,games,12,8,3,30,1000.0000
1,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,928014092,False,2013-05-13 05:03:15,...,2013-06-12 05:03:15,1.493600,43,Rock,music,14,5,0,30,15000.0000
2,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,596091328,False,2017-01-12 18:22:56,...,2017-03-13 17:22:56,0.016500,273,Playing Cards,games,12,1,3,59,12160.6569
3,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,998516049,False,2012-12-10 20:32:07,...,2013-01-09 20:32:07,1.007143,48,Nonfiction,publishing,18,12,0,30,2800.0000
4,35,Annapolis Chamber Players is a non-for profit ...,3725,US,2014-10-24 17:35:50,2015-05-02 02:25:46,False,1224600291,False,2015-04-02 02:25:46,...,2015-05-02 02:25:46,1.064286,36,Classical Music,music,14,4,3,30,3500.0000

In [4]:
features = df.drop(["state"], axis=1)
target = df["state"]

In [6]:
features.columns

Index(['backers_count', 'blurb', 'converted_pledged_amount', 'country',
       'created_at', 'deadline', 'disable_communication', 'id', 'is_starrable',
       'launched_at', 'name', 'spotlight', 'staff_pick', 'state_changed_at',
       'ratio_target', 'subcategy_id', 'subcategory', 'category',
       'category_id', 'month_project', 'weekday', 'duration', 'convert_goal'],
      dtype='object')

In [8]:
features_raw= features.drop(["blurb", 'created_at',	'deadline' ,  'id',  'launched_at', 'name','state_changed_at', 'subcategory', 'category', ], axis=1)

In [9]:
features_raw= pd.get_dummies(features_raw, drop_first=True)
features_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168979 entries, 0 to 168978
Data columns (total 34 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             168979 non-null  int64
 1   converted_pledged_amount  168979 non-null  int64
 2   disable_communication     168979 non-null  bool
 3   is_starrable              168979 non-null  bool
 4   spotlight                 168979 non-null  bool
 5   staff_pick                168979 non-null  bool
 6   ratio_target              168979 non-null  float64
 7   subcategy_id              168979 non-null  int64
 8   category_id               168979 non-null  int64
 9   month_project             168979 non-null  int64
 10  weekday                   168979 non-null  int64
 11  duration                  168979 non-null  int64
 12  convert_goal              168979 non-null  float64
 13  country_AU                168979 non-null  uint8
 14  country_BE                168979 non-null  uint8
 15  country_CA                168979 non-null  uint8
 16  country_CH                168979 non-null  uint8
 17  country_DE                168979 non-null  uint8
 18  country_DK                168979 non-null  uint8
 19  country_ES                168979 non-null  uint8
 20  country_FR                168979 non-null  uint8
 21  country_GB                168979 non-null  uint8
 22  country_HK                168979 non-null  uint8
 23  country_IE                168979 non-null  uint8
 24  country_IT                168979 non-null  uint8
 25  country_JP                168979 non-null  uint8
 26  country_LU                168979 non-null  uint8
 27  country_MX                168979 non-null  uint8
 28  country_NL                168979 non-null  uint8
 29  country_NO                168979 non-null  uint8
 30  country_NZ                168979 non-null  uint8
 31  country_SE                168979 non-null  uint8
 32  country_SG                168979 non-null  uint8
 33  country_US                168979 non-null  uint8
dtypes: bool(4), float64(2), int64(7), uint8(21)
memory usage: 15.6 MB

In [12]:
features_raw
pd.set_option("display.max_columns", None)
features_raw

,backers_count,converted_pledged_amount,disable_communication,is_starrable,spotlight,staff_pick,ratio_target,subcategy_id,category_id,month_project,weekday,duration,convert_goal,country_AU,country_BE,country_CA,country_CH,country_DE,country_DK,country_ES,country_FR,country_GB,country_HK,country_IE,country_IT,country_JP,country_LU,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,47,1950,False,False,True,False,1.950000,273,12,8,3,30,1000.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,271,22404,False,False,True,False,1.493600,43,14,5,0,30,15000.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,3,165,False,False,False,False,0.016500,273,12,1,3,59,12160.6569,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,3,2820,False,False,True,False,1.007143,48,18,12,0,30,2800.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,35,3725,False,False,True,False,1.064286,36,14,4,3,30,3500.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168974,108,4078,False,False,True,False,1.050219,38,14,8,0,58,3883.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
168975,72,5710,False,False,True,False,1.142000,38,14,5,6,36,5466.5002,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
168976,62,2681,False,False,True,False,1.072400,52,16,8,1,33,2500.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
168977,76,5692,False,False,True,False,1.034909,295,11,3,5,30,5500.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
168978,44,1293,False,False,True,True,1.293000,13,13,1,3,31,1000.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [16]:
target=target.replace('failed', 0).replace('successful',1)
target

0         1
1         1
2         0
3         1
4         1
         ..
168974    1
168975    1
168976    1
168977    1
168978    1
Name: state, Length: 168979, dtype: int64

In [21]:
sorted(features_raw.columns)

['backers_count',
 'category_id',
 'convert_goal',
 'converted_pledged_amount',
 'country_AU',
 'country_BE',
 'country_CA',
 'country_CH',
 'country_DE',
 'country_DK',
 'country_ES',
 'country_FR',
 'country_GB',
 'country_HK',
 'country_IE',
 'country_IT',
 'country_JP',
 'country_LU',
 'country_MX',
 'country_NL',
 'country_NO',
 'country_NZ',
 'country_SE',
 'country_SG',
 'country_US',
 'disable_communication',
 'duration',
 'is_starrable',
 'month_project',
 'ratio_target',
 'spotlight',
 'staff_pick',
 'subcategy_id',
 'weekday']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split( features_raw, target, stratify=target, random_state=42, test_size=0.2)
print ("Training set has {} samples.".format(X_train.shape[0]))
print ("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 135183 samples.
Testing set has 33796 samples.