In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import sklearn as sk

In [2]:
import glob
path = r'/Users/chrisgilibert/neuefische/kickstar/data'
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
pd.set_option("display.max_columns", None)
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,current_currency,deadline,disable_communication,friends,fx_rate,goal,id,is_backing,is_starrable,is_starred,launched_at,location,name,permissions,photo,pledged,profile,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",USD,$,True,USD,1552539775,False,NaN,1.000000,28000.0,2108505034,NaN,False,NaN,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,NaN,"{""key"":""assets/023/667/205/a565fde5382d6b53276...",28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",babalus-childrens-shoes,https://www.kickstarter.com/discover/categorie...,False,False,live,1548223375,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",28645.000000,international
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",USD,$,True,USD,1504976459,False,NaN,1.000000,1000.0,928751314,NaN,False,NaN,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,NaN,"{""key"":""assets/017/766/989/dd9f18c773a8546d996...",1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",the-ofrenda-oracle-deck,https://www.kickstarter.com/discover/categorie...,True,False,successful,1504976459,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",1950.000000,domestic
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",USD,$,True,USD,1371013395,False,NaN,1.000000,15000.0,928014092,NaN,False,NaN,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",NaN,"{""key"":""assets/011/433/681/489fd66f7861fefd8c8...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",record-electras-debut-album-pop-rock-classical,https://www.kickstarter.com/discover/categorie...,True,False,successful,1371013395,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",22404.000000,international
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",GBP,Â£,False,USD,1489425776,False,NaN,1.308394,10000.0,596091328,NaN,False,NaN,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,NaN,"{""key"":""assets/015/091/198/216fbf1bdc3739e7971...",136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",the-mist-of-tribunal-a-card-game,https://www.kickstarter.com/discover/categorie...,False,False,failed,1489425776,1.216066,"{""web"":{""project"":""https://www.kickstarter.com...",165.384934,domestic
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",USD,$,True,USD,1357763527,False,NaN,1.000000,2800.0,998516049,NaN,False,NaN,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,NaN,"{""key"":""assets/011/457/844/37ba63d35fefaba76e9...",2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",help-change-the-face-of-brain-impairment,https://www.kickstarter.com/discover/categorie...,True,False,successful,1357763527,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",2820.000000,domestic

In [4]:
removal_list = ['friends', 'permissions', 'is_starred', 'is_backing']

frame.drop(removal_list, inplace=True, axis=1)

In [5]:
import json

stdf = frame['category'].apply(json.loads)
stdf = pd.DataFrame(stdf.tolist())
stdf

,id,name,slug,position,parent_id,color,urls
0,266,Footwear,fashion/footwear,5,9.0,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18.0,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16.0,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11.0,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [6]:
# columns which might not contain useful information
# Assumption: 'converted pledged amount' contains final amount in US Dollars

cols_del = ['currency', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'photo', 'source_url', 'usd_type', 'urls', 'slug', 'fx_rate']

frame.drop(cols_del, inplace=True, axis=1)

In [7]:
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",1552539775,False,28000.0,2108505034,False,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",False,False,live,1548223375,1.000000,28645.000000
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",1504976459,False,1000.0,928751314,False,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",True,False,successful,1504976459,1.000000,1950.000000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",1371013395,False,15000.0,928014092,False,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",True,False,successful,1371013395,1.000000,22404.000000
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",1489425776,False,10000.0,596091328,False,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",False,False,failed,1489425776,1.216066,165.384934
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",1357763527,False,2800.0,998516049,False,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",True,False,successful,1357763527,1.000000,2820.000000

In [8]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             209222 non-null  int64
 1   blurb                     209214 non-null  object
 2   category                  209222 non-null  object
 3   converted_pledged_amount  209222 non-null  int64
 4   country                   209222 non-null  object
 5   created_at                209222 non-null  int64
 6   creator                   209222 non-null  object
 7   deadline                  209222 non-null  int64
 8   disable_communication     209222 non-null  bool
 9   goal                      209222 non-null  float64
 10  id                        209222 non-null  int64
 11  is_starrable              209222 non-null  bool
 12  launched_at               209222 non-null  int64
 13  location                  208996 non-null  object
 14  name                      209222 non-null  object
 15  pledged                   209222 non-null  float64
 16  profile                   209222 non-null  object
 17  spotlight                 209222 non-null  bool
 18  staff_pick                209222 non-null  bool
 19  state                     209222 non-null  object
 20  state_changed_at          209222 non-null  int64
 21  static_usd_rate           209222 non-null  float64
 22  usd_pledged               209222 non-null  float64
dtypes: bool(4), float64(4), int64(7), object(8)
memory usage: 31.1+ MB

In [9]:
#define ratio between goal and pledged amount
frame['ratio_target']= frame.eval('converted_pledged_amount / goal')
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,ratio_target
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",1552539775,False,28000.0,2108505034,False,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",False,False,live,1548223375,1.000000,28645.000000,1.023036
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",1504976459,False,1000.0,928751314,False,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",True,False,successful,1504976459,1.000000,1950.000000,1.950000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",1371013395,False,15000.0,928014092,False,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",True,False,successful,1371013395,1.000000,22404.000000,1.493600
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",1489425776,False,10000.0,596091328,False,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",False,False,failed,1489425776,1.216066,165.384934,0.016500
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",1357763527,False,2800.0,998516049,False,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",True,False,successful,1357763527,1.000000,2820.000000,1.007143

In [10]:
# conversion of dates in dataset: created_at, deadline, launched_at

from datetime import datetime, date, time, timedelta

In [11]:
to_convert = ['created_at', 'deadline', 'launched_at', 'state_changed_at']
for i in to_convert:
    frame[i] = pd.to_datetime(frame[i], origin='unix', unit='s')

In [12]:
#what is the status of the projects
gb_state= frame.groupby('state')
gb_state.count()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state_changed_at,static_usd_rate,usd_pledged,ratio_target
state,,,,,,,,,,,,,,,,,,,,,,,
canceled,8624,8618,8624,8624,8624,8624,8624,8624,8624,8624,8624,8624,8624,8613,8624,8624,8624,8624,8624,8624,8624,8624,8624
failed,75199,75197,75199,75199,75199,75199,75199,75199,75199,75199,75199,75199,75199,75151,75199,75199,75199,75199,75199,75199,75199,75199,75199
live,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311
successful,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117298,117465,117465,117465,117465,117465,117465,117465,117465,117465
suspended,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623

- More than 50% of the projects were successful 
- 75k failed
- take out all projects with status: canceled, live, suspended ??

In [13]:
missing_values = pd.DataFrame(frame.isnull().sum(),columns=['count'])
missing_values['percentage'] = (missing_values['count']/frame.shape[0]*100).round(2)
missing_values.query('count != 0')

          count  percentage
blurb         8        0.00
location    226        0.11

In [14]:
stdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         209222 non-null  int64
 1   name       209222 non-null  object
 2   slug       209222 non-null  object
 3   position   209222 non-null  int64
 4   parent_id  200181 non-null  float64
 5   color      209222 non-null  int64
 6   urls       209222 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 11.2+ MB

In [15]:
a=stdf[stdf.isna().any(axis=1)] # parent id 
a # we have to decide wether we create a '0' id or we copy the ones form the id

,id,name,slug,position,parent_id,color,urls
7,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
25,15,Photography,photography,12,NaN,58341,{'web': {'discover': 'http://www.kickstarter.c...
27,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
32,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
51,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209005,18,Publishing,publishing,13,NaN,14867664,{'web': {'discover': 'http://www.kickstarter.c...
209174,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209181,12,Games,games,9,NaN,51627,{'web': {'discover': 'http://www.kickstarter.c...
209209,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [16]:
stdf.parent_id.fillna(stdf.id,inplace=True)

In [17]:
stdf.parent_id= stdf.parent_id.astype(int)
stdf

,id,name,slug,position,parent_id,color,urls
0,266,Footwear,fashion/footwear,5,9,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,13,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [18]:
f = lambda x: x['slug'].split('/')[0]
stdf['slug'] = stdf.apply(f, axis=1)

In [19]:
# i reviewed all the data in stdf i think we can erase  slug, position, color and urls 

cols_del = [ 'position', 'color',  'urls']

stdf.drop(cols_del, inplace=True, axis=1)

In [20]:
# i reviewed all the data in stdf i think we can erase  slug, position, color and urls 

cols_del = [ 'category', 'creator',  'profile', 'location']

frame.drop(cols_del, inplace=True, axis=1)
frame.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,ratio_target
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.0,False,False,live,2019-01-23 06:02:55,1.000000,28645.000000,1.023036
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.0,True,False,successful,2017-09-09 17:00:59,1.000000,1950.000000,1.950000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.0,True,False,successful,2013-06-12 05:03:15,1.000000,22404.000000,1.493600
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.0,False,False,failed,2017-03-13 17:22:56,1.216066,165.384934,0.016500
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.0,True,False,successful,2013-01-09 20:32:07,1.000000,2820.000000,1.007143

In [21]:
stdf= stdf.rename(columns={'id': 'subcategy_id', 'name': 'subcategory', 'slug': 'category', 'parent_id' :'category_id'})
stdf

        subcategy_id       subcategory      category  category_id
0                266          Footwear       fashion            9
1                273     Playing Cards         games           12
2                 43              Rock         music           14
3                273     Playing Cards         games           12
4                 48        Nonfiction    publishing           18
...              ...               ...           ...          ...
209217            34    Tabletop Games         games           12
209218            38  Electronic Music         music           14
209219            52          Hardware    technology           16
209220           295         Festivals  film & video           11
209221            13        Journalism    journalism           13

[209222 rows x 4 columns]

In [22]:
frame=pd.concat([frame, stdf], axis=1)

In [23]:
frame.state.unique()

array(['live', 'successful', 'failed', 'canceled', 'suspended'],
      dtype=object)

In [24]:
#frame= frame.drop([('state' == 'canceled')])
frame= frame.drop(frame[(frame.state == 'canceled')].index)
frame= frame.drop(frame[(frame.state == 'suspended')].index)

In [25]:
frame.state.unique()

array(['live', 'successful', 'failed'], dtype=object)

In [26]:
duplicates = frame[frame.duplicated(subset='id')]
duplicates.sort_values(by=['id'])

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
203736,68,"The BEST beef sticks, beef jerky and signature...",3239,US,2016-05-15 18:58:21,2016-06-30 22:34:18,False,2500.0,39036,False,2016-05-16 22:34:18,The Meat Candy Experience,3239.0,True,False,successful,2016-06-30 22:34:18,1.000000,3239.000000,1.295600,313,Small Batch,food,10
68551,338,"4tec is a classic 4 in a row table top game, r...",15368,IE,2018-07-05 10:46:58,2018-10-10 06:48:50,False,5000.0,39235,False,2018-09-10 06:48:50,4tec: a New 3D Connect 4 Game,13352.0,True,False,successful,2018-10-10 06:48:51,1.156384,15440.032893,3.073600,34,Tabletop Games,games,12
162965,52,Professional graphic designers need profession...,2985,US,2018-04-05 19:35:16,2018-06-01 18:22:31,False,1250.0,50419,False,2018-05-02 18:22:31,Graphic design tools for award-winning designs,2985.0,True,False,successful,2018-06-01 18:22:31,1.000000,2985.000000,2.388000,27,Graphic Design,design,7
171660,226,Conclave: The Papal Election LARP. You play as...,5637,US,2018-06-26 16:37:11,2019-03-14 11:00:06,False,2500.0,66579,False,2019-02-12 12:00:06,Conclave,5637.0,False,True,live,2019-02-12 12:00:06,1.000000,5637.000000,2.254800,34,Tabletop Games,games,12
89589,28,Audiobook of short stories about Italian cooki...,1025,US,2018-11-27 14:58:18,2019-02-03 16:50:44,False,1000.0,188790,False,2018-12-05 16:50:44,Stories of Food and Life,1025.0,True,False,successful,2019-02-03 16:50:45,1.000000,1025.000000,1.025000,48,Nonfiction,publishing,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137762,46,"Just in time for grilling season. An ""all pur...",1642,US,2017-06-15 13:11:35,2017-06-30 18:19:18,False,1000.0,2147144291,False,2017-06-15 18:19:18,Jubilee Espresso Rub,1642.0,True,False,successful,2017-06-30 18:19:19,1.000000,1642.000000,1.642000,313,Small Batch,food,10
102009,2,NudeART Book and Fineart Print for You. \nWith...,241,DE,2015-07-30 16:01:10,2015-08-29 17:02:41,False,159.0,2147180546,False,2015-07-30 17:02:41,NudeART - Hardcover Book and FineART Print,216.0,True,False,successful,2015-08-29 17:02:41,1.107912,239.308929,1.515723,280,Photobooks,photography,15
201817,7,"This is a project, which aims to save lives of...",252,GB,2016-03-21 18:09:51,2016-06-01 00:35:29,False,18500.0,2147283151,False,2016-04-02 00:35:29,The Call - a voice to the voiceless,172.0,False,False,failed,2016-06-01 00:35:29,1.434691,246.766923,0.013622,358,Photo,journalism,13
144573,56,"With your support, Movema can relocate to offi...",4793,GB,2016-04-05 11:34:55,2016-05-12 12:23:32,False,3000.0,2147339483,False,2016-04-12 12:23:32,Movema Dance Studio,3320.0,True,False,successful,2016-05-12 12:23:32,1.412765,4690.378505,1.597667,256,Spaces,dance,6
159940,709,"Over 6,000 thoughtfully designed icons that ar...",70751,US,2017-06-01 12:43:16,2017-08-18 18:00:00,False,12000.0,2147345648,False,2017-07-26 13:13:04,"Symbolicons Pro: Your friendly, versatile, go-...",70751.0,True,False,successful,2017-08-18 18:00:00,1.000000,70751.000000,5.895917,51,Software,technology,16

In [27]:
frame= frame.drop_duplicates(subset='id')
frame

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.00,False,False,live,2019-01-23 06:02:55,1.000000,28645.000000,1.023036,266,Footwear,fashion,9
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.00,True,False,successful,2017-09-09 17:00:59,1.000000,1950.000000,1.950000,273,Playing Cards,games,12
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.00,True,False,successful,2013-06-12 05:03:15,1.000000,22404.000000,1.493600,43,Rock,music,14
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.00,False,False,failed,2017-03-13 17:22:56,1.216066,165.384934,0.016500,273,Playing Cards,games,12
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.00,True,False,successful,2013-01-09 20:32:07,1.000000,2820.000000,1.007143,48,Nonfiction,publishing,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209216,108,*PRE-SALES* for Our first Full-Length Album- c...,4078,US,2014-07-17 19:33:05,2014-10-01 23:44:00,False,3883.0,672518235,False,2014-08-04 17:29:16,"It Springs to Life...""Pellucidity"" YAIMA's Fir...",4078.22,True,False,successful,2014-10-01 23:44:00,1.000000,4078.220000,1.050219,38,Electronic Music,music,14
209218,72,"Soul, hip-hop and sexy falsettos with an opera...",5710,NL,2017-04-24 13:46:12,2017-06-19 22:00:00,False,5000.0,4607750,False,2017-05-14 17:21:54,ARIA LESTER Debut EP,5100.00,True,False,successful,2017-06-19 22:00:00,1.093300,5575.830204,1.142000,38,Electronic Music,music,14
209219,62,What started as a homemade gift has turned int...,2681,US,2012-07-03 19:29:55,2012-09-17 03:59:00,False,2500.0,67097337,False,2012-08-14 20:36:30,FlashPals: Cuddly USB Drives Save More Than Yo...,2681.00,True,False,successful,2012-09-17 03:59:01,1.000000,2681.000000,1.072400,52,Hardware,technology,16
209220,76,Seattle Transmedia & Independent Film Festival...,5692,US,2015-03-02 00:42:37,2015-04-20 13:26:15,False,5500.0,1031742546,False,2015-03-21 13:26:15,Transmedia Gallery Space STIFF 2015,5692.00,True,False,successful,2015-04-20 13:26:19,1.000000,5692.000000,1.034909,295,Festivals,film & video,11
209221,44,The @1000TimesYes 2009 Tweet Box is a handmade...,1293,US,2010-01-11 16:05:00,2010-02-22 04:59:00,False,1000.0,1374988684,False,2010-01-21 18:46:33,The @1000TimesYes 2009 Tweet Box,1293.00,True,True,successful,2010-02-22 05:00:15,1.000000,1293.000000,1.293000,13,Journalism,journalism,13

## Hypothesis
### 1.Creators who have open communication are more likely to achieve the goal 
### 2.Creators who are open to get rated are more likely to achieve the goal
### 3.Creators who have bigger deadlines are more likely to achieve the goal 
### 4.Projects with not so high goals are more likely to achieve it
### 5.Creators who launched in a specific month are more likely to achieve the goal 
### 6.Creators who launched in a specific day (weekday) are more likely to achieve the goal 
### 9.Creators who made their spotlight page are more likely to achieve the goal 
### 10.Projects that get featured by kickstarter are more likely to achieve the goal 
### 11.Projects should be from a specific country to achieve the goal
### 12.Projects that are from games, technology and publishing are more likely to achieve the goal 
### 13.Projects that which have a subcategory are more likely to achieve the goal

In [28]:
frame['month_project'] = pd.DatetimeIndex(frame['launched_at']).month
frame['weekday'] = frame['launched_at'].dt.dayofweek
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173017 entries, 0 to 209221
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             173017 non-null  int64
 1   blurb                     173015 non-null  object
 2   converted_pledged_amount  173017 non-null  int64
 3   country                   173017 non-null  object
 4   created_at                173017 non-null  datetime64[ns]
 5   deadline                  173017 non-null  datetime64[ns]
 6   disable_communication     173017 non-null  bool
 7   goal                      173017 non-null  float64
 8   id                        173017 non-null  int64
 9   is_starrable              173017 non-null  bool
 10  launched_at               173017 non-null  datetime64[ns]
 11  name                      173017 non-null  object
 12  pledged                   173017 non-null  float64
 13  spotlight                 173017 non-null  bool
 14  staff_pick                173017 non-null  bool
 15  state                     173017 non-null  object
 16  state_changed_at          173017 non-null  datetime64[ns]
 17  static_usd_rate           173017 non-null  float64
 18  usd_pledged               173017 non-null  float64
 19  ratio_target              173017 non-null  float64
 20  subcategy_id              173017 non-null  int64
 21  subcategory               173017 non-null  object
 22  category                  173017 non-null  object
 23  category_id               173017 non-null  int64
 24  month_project             173017 non-null  int64
 25  weekday                   173017 non-null  int64
dtypes: bool(4), datetime64[ns](4), float64(5), int64(7), object(6)
memory usage: 31.0+ MB

In [29]:
frame['duration'] = (frame['deadline']- frame['launched_at']).dt.days
#frame['duration'] = frame['duration']

In [30]:
frame['convert_goal'] = frame['goal']* frame['static_usd_rate']

In [31]:
frame.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id,month_project,weekday,duration,convert_goal
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.0,False,False,live,2019-01-23 06:02:55,1.000000,28645.000000,1.023036,266,Footwear,fashion,9,1,2,49,28000.0000
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.0,True,False,successful,2017-09-09 17:00:59,1.000000,1950.000000,1.950000,273,Playing Cards,games,12,8,3,30,1000.0000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.0,True,False,successful,2013-06-12 05:03:15,1.000000,22404.000000,1.493600,43,Rock,music,14,5,0,30,15000.0000
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.0,False,False,failed,2017-03-13 17:22:56,1.216066,165.384934,0.016500,273,Playing Cards,games,12,1,3,59,12160.6569
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.0,True,False,successful,2013-01-09 20:32:07,1.000000,2820.000000,1.007143,48,Nonfiction,publishing,18,12,0,30,2800.0000

In [32]:

cols_del = ['goal', 'static_usd_rate', 'pledged', 'usd_pledged']

frame.drop(cols_del, inplace=True, axis=1)

In [33]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173017 entries, 0 to 209221
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             173017 non-null  int64
 1   blurb                     173015 non-null  object
 2   converted_pledged_amount  173017 non-null  int64
 3   country                   173017 non-null  object
 4   created_at                173017 non-null  datetime64[ns]
 5   deadline                  173017 non-null  datetime64[ns]
 6   disable_communication     173017 non-null  bool
 7   id                        173017 non-null  int64
 8   is_starrable              173017 non-null  bool
 9   launched_at               173017 non-null  datetime64[ns]
 10  name                      173017 non-null  object
 11  spotlight                 173017 non-null  bool
 12  staff_pick                173017 non-null  bool
 13  state                     173017 non-null  object
 14  state_changed_at          173017 non-null  datetime64[ns]
 15  ratio_target              173017 non-null  float64
 16  subcategy_id              173017 non-null  int64
 17  subcategory               173017 non-null  object
 18  category                  173017 non-null  object
 19  category_id               173017 non-null  int64
 20  month_project             173017 non-null  int64
 21  weekday                   173017 non-null  int64
 22  duration                  173017 non-null  int64
 23  convert_goal              173017 non-null  float64
dtypes: bool(4), datetime64[ns](4), float64(2), int64(8), object(6)
memory usage: 28.4+ MB

In [34]:
x= frame[frame['state']== 'live']
frame= frame.drop(frame[(frame.state == 'live')].index)
x

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,id,is_starrable,launched_at,name,spotlight,staff_pick,state,state_changed_at,ratio_target,subcategy_id,subcategory,category,category_id,month_project,weekday,duration,convert_goal
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,False,False,live,2019-01-23 06:02:55,1.023036,266,Footwear,fashion,9,1,2,49,28000.000000
12,5,A body of work that praises the melanin skin. ...,47,US,2019-01-31 17:53:02,2019-04-02 06:59:00,False,602018854,True,2019-02-11 08:24:54,House of Melanin,False,False,live,2019-02-11 08:24:54,0.004700,54,Mixed Media,art,1,2,0,49,10000.000000
27,41,"A wrist watch with a Swiss movement, made as a...",21161,GB,2019-02-28 09:23:07,2019-04-05 18:59:50,False,1889386358,True,2019-03-06 18:59:50,William Walker Watch,False,False,live,2019-03-06 18:59:51,1.058050,9,Fashion,fashion,9,3,2,30,26319.910600
59,5,We are expanding a 63 year old shoe repair sho...,171,US,2019-02-27 15:10:19,2019-04-10 19:59:54,False,1758821068,True,2019-03-11 19:59:54,63 Year Old Shoe Repair Shop Expansion,False,False,live,2019-03-11 19:59:55,0.011400,9,Fashion,fashion,9,3,0,30,15000.000000
72,4,RevengeLover Artist pack for PHX Night Market ...,41,US,2019-01-24 23:09:56,2019-03-14 16:37:41,False,1028481629,False,2019-02-12 17:37:41,Kain Tayo (Let's Eat!) Swag Pack,False,False,live,2019-02-12 17:37:42,0.041000,263,Apparel,fashion,9,2,1,29,1000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207420,16,"Fefe, a 16 year old girl, tries VR counselling...",544,GB,2019-01-19 12:06:00,2019-04-01 11:00:00,False,736004837,True,2019-02-16 11:39:03,The Red Dress,False,False,live,2019-02-16 11:39:03,1.088000,11,Film & Video,film & video,11,2,5,43,639.986895
207624,1,Mean Clean Petz shampoo is a pet shampoo with ...,1,US,2019-01-12 00:53:44,2019-03-17 14:42:04,False,1849734123,True,2019-01-16 15:42:04,Mean Clean Petz,False,False,live,2019-01-16 15:42:04,0.000100,26,Crafts,crafts,26,1,2,59,10000.000000
207676,51,A dark comedy pilot based on the on stage pers...,2905,US,2018-10-08 20:29:20,2019-04-09 00:40:34,False,1789932195,True,2019-02-08 01:40:34,The Mick Chronicles,False,False,live,2019-02-08 01:40:35,0.581000,292,Comedy,film & video,11,2,4,59,5000.000000
208058,1,A series of hard enamel pins inspired by sushi...,1,US,2019-02-11 16:34:33,2019-03-26 15:00:00,False,1181433300,True,2019-02-13 19:46:33,Sushi Cats,False,False,live,2019-02-13 19:46:34,0.002326,1,Art,art,1,2,2,40,430.000000
208115,1,"Custom made floral shadow boxes, customized do...",1,US,2019-01-25 21:24:59,2019-03-29 18:20:34,False,810101150,True,2019-01-28 19:20:34,All That Glitters - Custom made floral shadow ...,False,False,live,2019-01-28 19:20:35,0.001333,1,Art,art,1,1,0,59,750.000000

In [35]:
print(frame.deadline.min())
print(frame.created_at.max())

2009-05-03 06:59:59
2019-03-04 22:27:12

In [37]:
frame.to_csv(r'/Users/chrisgilibert/neuefische/kickstar/data/data2/final_frame.csv', index=False  )
x.to_csv(r'/Users/chrisgilibert/neuefische/kickstar/data/data2/live.csv', index=False )