In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns
import sklearn as sk

In [2]:
import glob
path = r'/Users/chrisgilibert/neuefische/kickstar/data'
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
pd.set_option("display.max_columns", None)
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,currency,currency_symbol,currency_trailing_code,current_currency,deadline,disable_communication,friends,fx_rate,goal,id,is_backing,is_starrable,is_starred,launched_at,location,name,permissions,photo,pledged,profile,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",USD,$,True,USD,1552539775,False,NaN,1.000000,28000.0,2108505034,NaN,False,NaN,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,NaN,"{""key"":""assets/023/667/205/a565fde5382d6b53276...",28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",babalus-childrens-shoes,https://www.kickstarter.com/discover/categorie...,False,False,live,1548223375,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",28645.000000,international
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",USD,$,True,USD,1504976459,False,NaN,1.000000,1000.0,928751314,NaN,False,NaN,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,NaN,"{""key"":""assets/017/766/989/dd9f18c773a8546d996...",1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",the-ofrenda-oracle-deck,https://www.kickstarter.com/discover/categorie...,True,False,successful,1504976459,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",1950.000000,domestic
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",USD,$,True,USD,1371013395,False,NaN,1.000000,15000.0,928014092,NaN,False,NaN,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",NaN,"{""key"":""assets/011/433/681/489fd66f7861fefd8c8...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",record-electras-debut-album-pop-rock-classical,https://www.kickstarter.com/discover/categorie...,True,False,successful,1371013395,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",22404.000000,international
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",GBP,Â£,False,USD,1489425776,False,NaN,1.308394,10000.0,596091328,NaN,False,NaN,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,NaN,"{""key"":""assets/015/091/198/216fbf1bdc3739e7971...",136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",the-mist-of-tribunal-a-card-game,https://www.kickstarter.com/discover/categorie...,False,False,failed,1489425776,1.216066,"{""web"":{""project"":""https://www.kickstarter.com...",165.384934,domestic
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",USD,$,True,USD,1357763527,False,NaN,1.000000,2800.0,998516049,NaN,False,NaN,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,NaN,"{""key"":""assets/011/457/844/37ba63d35fefaba76e9...",2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",help-change-the-face-of-brain-impairment,https://www.kickstarter.com/discover/categorie...,True,False,successful,1357763527,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",2820.000000,domestic

In [4]:
removal_list = ['friends', 'permissions', 'is_starred', 'is_backing']

frame.drop(removal_list, inplace=True, axis=1)

In [5]:
import json

stdf = frame['category'].apply(json.loads)
stdf = pd.DataFrame(stdf.tolist())
stdf

,id,name,slug,position,parent_id,color,urls
0,266,Footwear,fashion/footwear,5,9.0,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18.0,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16.0,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11.0,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [6]:
#df_row_reindex = pd.concat([frame, stdf], ignore_index=True)
#df_row_reindex.head()

In [7]:
# columns which might not contain useful information
# Assumption: 'converted pledged amount' contains final amount in US Dollars

cols_del = ['currency', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'photo', 'source_url', 'usd_type', 'urls', 'static_usd_rate', 'slug', 'fx_rate']

frame.drop(cols_del, inplace=True, axis=1)

In [8]:
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state,state_changed_at,usd_pledged
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",1552539775,False,28000.0,2108505034,False,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",False,False,live,1548223375,28645.000000
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",1504976459,False,1000.0,928751314,False,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",True,False,successful,1504976459,1950.000000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",1371013395,False,15000.0,928014092,False,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",True,False,successful,1371013395,22404.000000
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",1489425776,False,10000.0,596091328,False,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",False,False,failed,1489425776,165.384934
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",1357763527,False,2800.0,998516049,False,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",True,False,successful,1357763527,2820.000000

In [9]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             209222 non-null  int64
 1   blurb                     209214 non-null  object
 2   category                  209222 non-null  object
 3   converted_pledged_amount  209222 non-null  int64
 4   country                   209222 non-null  object
 5   created_at                209222 non-null  int64
 6   creator                   209222 non-null  object
 7   deadline                  209222 non-null  int64
 8   disable_communication     209222 non-null  bool
 9   goal                      209222 non-null  float64
 10  id                        209222 non-null  int64
 11  is_starrable              209222 non-null  bool
 12  launched_at               209222 non-null  int64
 13  location                  208996 non-null  object
 14  name                      209222 non-null  object
 15  pledged                   209222 non-null  float64
 16  profile                   209222 non-null  object
 17  spotlight                 209222 non-null  bool
 18  staff_pick                209222 non-null  bool
 19  state                     209222 non-null  object
 20  state_changed_at          209222 non-null  int64
 21  usd_pledged               209222 non-null  float64
dtypes: bool(4), float64(3), int64(7), object(8)
memory usage: 29.5+ MB

In [10]:
# target variables to think about
# converted pledged amount (final amount in US dollars) / goal (maybe define a rate between goal and final amount?)
#  backers counts / converted pledged amount -> identify projects with high contributions

In [11]:
#define ratio between goal and pledged amount
frame['ratio_target']= frame.eval('converted_pledged_amount / goal')
frame.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target
0,315,Babalus Shoes,"{""id"":266,""name"":""Footwear"",""slug"":""fashion/fo...",28645,US,1541459205,"{""id"":2094277840,""name"":""Lucy Conroy"",""slug"":""...",1552539775,False,28000.0,2108505034,False,1548223375,"{""id"":2462429,""name"":""Novato"",""slug"":""novato-c...",Babalus Children's Shoes,28645.0,"{""id"":3508024,""project_id"":3508024,""state"":""in...",False,False,live,1548223375,28645.000000,1.023036
1,47,A colorful Dia de los Muertos themed oracle de...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",1950,US,1501684093,"{""id"":723886115,""name"":""Lisa Vollrath"",""slug"":...",1504976459,False,1000.0,928751314,False,1502384459,"{""id"":2400549,""name"":""Euless"",""slug"":""euless-t...",The Ofrenda Oracle Deck,1950.0,"{""id"":3094785,""project_id"":3094785,""state"":""ac...",True,False,successful,1504976459,1950.000000,1.950000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...","{""id"":43,""name"":""Rock"",""slug"":""music/rock"",""po...",22404,US,1348987533,"{""id"":323849677,""name"":""Electra"",""is_registere...",1371013395,False,15000.0,928014092,False,1368421395,"{""id"":2423474,""name"":""Hollywood"",""slug"":""holly...","Record Electra's Debut Album (Pop, Rock, Class...",22404.0,"{""id"":359847,""project_id"":359847,""state"":""inac...",True,False,successful,1371013395,22404.000000,1.493600
3,3,The Mist of Tribunal is a turn-based card game...,"{""id"":273,""name"":""Playing Cards"",""slug"":""games...",165,GB,1483780271,"{""id"":196281496,""name"":""Artur Ordijanc (delete...",1489425776,False,10000.0,596091328,False,1484245376,"{""id"":475457,""name"":""Kaunas"",""slug"":""kaunas-ka...",The Mist of Tribunal - A Card Game,136.0,"{""id"":2825329,""project_id"":2825329,""state"":""in...",False,False,failed,1489425776,165.384934,0.016500
4,3,"Livng with a brain impairment, what its like t...","{""id"":48,""name"":""Nonfiction"",""slug"":""publishin...",2820,US,1354817071,"{""id"":1178460181,""name"":""Dawn Johnston"",""is_re...",1357763527,False,2800.0,998516049,False,1355171527,"{""id"":2507703,""name"":""Traverse City"",""slug"":""t...",Help change the face of Brain Impairment,2820.0,"{""id"":417385,""project_id"":417385,""state"":""inac...",True,False,successful,1357763527,2820.000000,1.007143

In [12]:
# conversion of dates in dataset: created_at, deadline, launched_at

from datetime import datetime, date, time, timedelta

In [13]:
to_convert = ['created_at', 'deadline', 'launched_at', 'state_changed_at']
for i in to_convert:
    frame[i] = pd.to_datetime(frame[i], origin='unix', unit='s')

- need to calculate timedelta between deadline and launched_at: how long was the project online?

In [14]:
#what is the status of the projects
gb_state= frame.groupby('state')
gb_state.count()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,creator,deadline,disable_communication,goal,id,is_starrable,launched_at,location,name,pledged,profile,spotlight,staff_pick,state_changed_at,usd_pledged,ratio_target
state,,,,,,,,,,,,,,,,,,,,,,
canceled,8624,8618,8624,8624,8624,8624,8624,8624,8624,8624,8624,8624,8624,8613,8624,8624,8624,8624,8624,8624,8624,8624
failed,75199,75197,75199,75199,75199,75199,75199,75199,75199,75199,75199,75199,75199,75151,75199,75199,75199,75199,75199,75199,75199,75199
live,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311,7311
successful,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117465,117298,117465,117465,117465,117465,117465,117465,117465,117465
suspended,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623

- More than 50% of the projects were successful 
- 75k failed
- take out all projects with status: canceled, live, suspended ??

In [15]:
missing_values = pd.DataFrame(frame.isnull().sum(),columns=['count'])
missing_values['percentage'] = (missing_values['count']/frame.shape[0]*100).round(2)
missing_values.query('count != 0')

          count  percentage
blurb         8        0.00
location    226        0.11

In [16]:
stdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         209222 non-null  int64
 1   name       209222 non-null  object
 2   slug       209222 non-null  object
 3   position   209222 non-null  int64
 4   parent_id  200181 non-null  float64
 5   color      209222 non-null  int64
 6   urls       209222 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 11.2+ MB

In [17]:
a=stdf[stdf.isna().any(axis=1)] # parent id 
a # we have to decide wether we create a '0' id or we copy the ones form the id

,id,name,slug,position,parent_id,color,urls
7,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
25,15,Photography,photography,12,NaN,58341,{'web': {'discover': 'http://www.kickstarter.c...
27,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
32,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
51,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209005,18,Publishing,publishing,13,NaN,14867664,{'web': {'discover': 'http://www.kickstarter.c...
209174,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209181,12,Games,games,9,NaN,51627,{'web': {'discover': 'http://www.kickstarter.c...
209209,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [18]:
a # we have to decide wether we create a '0' id or we copy the ones form the id

,id,name,slug,position,parent_id,color,urls
7,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
25,15,Photography,photography,12,NaN,58341,{'web': {'discover': 'http://www.kickstarter.c...
27,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
32,9,Fashion,fashion,6,NaN,16752598,{'web': {'discover': 'http://www.kickstarter.c...
51,14,Music,music,11,NaN,10878931,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209005,18,Publishing,publishing,13,NaN,14867664,{'web': {'discover': 'http://www.kickstarter.c...
209174,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209181,12,Games,games,9,NaN,51627,{'web': {'discover': 'http://www.kickstarter.c...
209209,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,NaN,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [19]:
stdf.parent_id.fillna(stdf.id,inplace=True)

In [20]:
stdf

,id,name,slug,position,parent_id,color,urls
0,266,Footwear,fashion/footwear,5,9.0,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18.0,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12.0,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14.0,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16.0,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11.0,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,13.0,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [21]:
stdf[stdf.isna().any(axis=1)]

Empty DataFrame
Columns: [id, name, slug, position, parent_id, color, urls]
Index: []

In [22]:
stdf.parent_id= stdf.parent_id.astype(int)
stdf

,id,name,slug,position,parent_id,color,urls
0,266,Footwear,fashion/footwear,5,9,16752598,{'web': {'discover': 'http://www.kickstarter.c...
1,273,Playing Cards,games/playing cards,4,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
2,43,Rock,music/rock,17,14,10878931,{'web': {'discover': 'http://www.kickstarter.c...
3,273,Playing Cards,games/playing cards,4,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
4,48,Nonfiction,publishing/nonfiction,9,18,14867664,{'web': {'discover': 'http://www.kickstarter.c...
...,...,...,...,...,...,...,...
209217,34,Tabletop Games,games/tabletop games,6,12,51627,{'web': {'discover': 'http://www.kickstarter.c...
209218,38,Electronic Music,music/electronic music,6,14,10878931,{'web': {'discover': 'http://www.kickstarter.c...
209219,52,Hardware,technology/hardware,8,16,6526716,{'web': {'discover': 'http://www.kickstarter.c...
209220,295,Festivals,film & video/festivals,9,11,16734574,{'web': {'discover': 'http://www.kickstarter.c...
209221,13,Journalism,journalism,10,13,1228010,{'web': {'discover': 'http://www.kickstarter.c...

In [23]:
f = lambda x: x['slug'].split('/')[0]
stdf['slug'] = stdf.apply(f, axis=1)

In [24]:
# i reviewed all the data in stdf i think we can erase  slug, position, color and urls 

cols_del = [ 'position', 'color',  'urls']

stdf.drop(cols_del, inplace=True, axis=1)

In [25]:
stdf

         id              name          slug  parent_id
0       266          Footwear       fashion          9
1       273     Playing Cards         games         12
2        43              Rock         music         14
3       273     Playing Cards         games         12
4        48        Nonfiction    publishing         18
...     ...               ...           ...        ...
209217   34    Tabletop Games         games         12
209218   38  Electronic Music         music         14
209219   52          Hardware    technology         16
209220  295         Festivals  film & video         11
209221   13        Journalism    journalism         13

[209222 rows x 4 columns]

In [26]:
 frame.dtypes

backers_count                        int64
blurb                               object
category                            object
converted_pledged_amount             int64
country                             object
created_at                  datetime64[ns]
creator                             object
deadline                    datetime64[ns]
disable_communication                 bool
goal                               float64
id                                   int64
is_starrable                          bool
launched_at                 datetime64[ns]
location                            object
name                                object
pledged                            float64
profile                             object
spotlight                             bool
staff_pick                            bool
state                               object
state_changed_at            datetime64[ns]
usd_pledged                        float64
ratio_target                       float64
dtype: object

In [27]:
# i reviewed all the data in stdf i think we can erase  slug, position, color and urls 

cols_del = [ 'category', 'creator',  'profile', 'location']

frame.drop(cols_del, inplace=True, axis=1)
frame.head()

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.0,False,False,live,2019-01-23 06:02:55,28645.000000,1.023036
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.0,True,False,successful,2017-09-09 17:00:59,1950.000000,1.950000
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.0,True,False,successful,2013-06-12 05:03:15,22404.000000,1.493600
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.0,False,False,failed,2017-03-13 17:22:56,165.384934,0.016500
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.0,True,False,successful,2013-01-09 20:32:07,2820.000000,1.007143

In [28]:
stdf= stdf.rename(columns={'id': 'subcategy_id', 'name': 'subcategory', 'slug': 'category', 'parent_id' :'category_id'})
stdf

        subcategy_id       subcategory      category  category_id
0                266          Footwear       fashion            9
1                273     Playing Cards         games           12
2                 43              Rock         music           14
3                273     Playing Cards         games           12
4                 48        Nonfiction    publishing           18
...              ...               ...           ...          ...
209217            34    Tabletop Games         games           12
209218            38  Electronic Music         music           14
209219            52          Hardware    technology           16
209220           295         Festivals  film & video           11
209221            13        Journalism    journalism           13

[209222 rows x 4 columns]

In [29]:
frame=pd.concat([frame, stdf], axis=1)

In [30]:
frame

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.0,False,False,live,2019-01-23 06:02:55,28645.000000,1.023036,266,Footwear,fashion,9
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.0,True,False,successful,2017-09-09 17:00:59,1950.000000,1.950000,273,Playing Cards,games,12
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.0,True,False,successful,2013-06-12 05:03:15,22404.000000,1.493600,43,Rock,music,14
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.0,False,False,failed,2017-03-13 17:22:56,165.384934,0.016500,273,Playing Cards,games,12
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.0,True,False,successful,2013-01-09 20:32:07,2820.000000,1.007143,48,Nonfiction,publishing,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209217,341,"Starship miniatures and 18x24"" deckplan poster...",8924,US,2018-11-27 02:48:11,2018-12-12 04:45:00,False,1500.0,1011591139,False,2018-11-27 22:38:32,Jade & Remora: Starship Maps & Miniatures,8924.0,True,False,successful,2018-12-12 04:45:01,8924.000000,5.949333,34,Tabletop Games,games,12
209218,72,"Soul, hip-hop and sexy falsettos with an opera...",5710,NL,2017-04-24 13:46:12,2017-06-19 22:00:00,False,5000.0,4607750,False,2017-05-14 17:21:54,ARIA LESTER Debut EP,5100.0,True,False,successful,2017-06-19 22:00:00,5575.830204,1.142000,38,Electronic Music,music,14
209219,62,What started as a homemade gift has turned int...,2681,US,2012-07-03 19:29:55,2012-09-17 03:59:00,False,2500.0,67097337,False,2012-08-14 20:36:30,FlashPals: Cuddly USB Drives Save More Than Yo...,2681.0,True,False,successful,2012-09-17 03:59:01,2681.000000,1.072400,52,Hardware,technology,16
209220,76,Seattle Transmedia & Independent Film Festival...,5692,US,2015-03-02 00:42:37,2015-04-20 13:26:15,False,5500.0,1031742546,False,2015-03-21 13:26:15,Transmedia Gallery Space STIFF 2015,5692.0,True,False,successful,2015-04-20 13:26:19,5692.000000,1.034909,295,Festivals,film & video,11
209221,44,The @1000TimesYes 2009 Tweet Box is a handmade...,1293,US,2010-01-11 16:05:00,2010-02-22 04:59:00,False,1000.0,1374988684,False,2010-01-21 18:46:33,The @1000TimesYes 2009 Tweet Box,1293.0,True,True,successful,2010-02-22 05:00:15,1293.000000,1.293000,13,Journalism,journalism,13

In [31]:
frame.state.unique()

array(['live', 'successful', 'failed', 'canceled', 'suspended'],
      dtype=object)

In [32]:
#frame= frame.drop([('state' == 'canceled')])
frame= frame.drop(frame[(frame.state == 'canceled')].index)
frame= frame.drop(frame[(frame.state == 'suspended')].index)

In [33]:
frame.state.unique()

array(['live', 'successful', 'failed'], dtype=object)

In [35]:
x= frame[frame['state']== 'live']
x

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
0,315,Babalus Shoes,28645,US,2018-11-05 23:06:45,2019-03-14 05:02:55,False,28000.0,2108505034,False,2019-01-23 06:02:55,Babalus Children's Shoes,28645.0,False,False,live,2019-01-23 06:02:55,28645.000000,1.023036,266,Footwear,fashion,9
12,5,A body of work that praises the melanin skin. ...,47,US,2019-01-31 17:53:02,2019-04-02 06:59:00,False,10000.0,602018854,True,2019-02-11 08:24:54,House of Melanin,47.0,False,False,live,2019-02-11 08:24:54,47.000000,0.004700,54,Mixed Media,art,1
27,41,"A wrist watch with a Swiss movement, made as a...",21161,GB,2019-02-28 09:23:07,2019-04-05 18:59:50,False,20000.0,1889386358,True,2019-03-06 18:59:50,William Walker Watch,12102.0,False,False,live,2019-03-06 18:59:51,15926.177904,1.058050,9,Fashion,fashion,9
59,5,We are expanding a 63 year old shoe repair sho...,171,US,2019-02-27 15:10:19,2019-04-10 19:59:54,False,15000.0,1758821068,True,2019-03-11 19:59:54,63 Year Old Shoe Repair Shop Expansion,171.0,False,False,live,2019-03-11 19:59:55,171.000000,0.011400,9,Fashion,fashion,9
72,4,RevengeLover Artist pack for PHX Night Market ...,41,US,2019-01-24 23:09:56,2019-03-14 16:37:41,False,1000.0,1028481629,False,2019-02-12 17:37:41,Kain Tayo (Let's Eat!) Swag Pack,41.0,False,False,live,2019-02-12 17:37:42,41.000000,0.041000,263,Apparel,fashion,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209038,23,"Easy, Clear & Concise handbook about Mechanica...",645,IT,2019-01-24 22:12:57,2019-03-26 11:00:00,False,2000.0,2089470126,True,2019-02-26 14:03:30,INTUITIVE: Mechanical Engineering. World 1st v...,570.0,False,False,live,2019-02-26 14:03:31,646.388219,0.322500,323,Academic,publishing,18
209082,39,A mobile app that will connect users with ques...,4789,US,2019-01-09 17:03:19,2019-04-01 07:10:28,False,20000.0,914527561,True,2019-03-01 08:10:28,Guru The App: Help People. Get Paid.,4789.0,False,False,live,2019-03-01 08:10:29,4789.000000,0.239450,332,Apps,technology,16
209087,29,Join the Wild West Steampunk adventure of Mars...,550,US,2019-03-02 19:08:33,2019-04-14 19:11:54,False,2500.0,738633520,True,2019-03-12 19:11:54,The Devil's Back #1,550.0,False,False,live,2019-03-12 19:11:55,550.000000,0.220000,250,Comic Books,comics,3
209100,99,A graphic novel about a herd of orphaned Afric...,7306,US,2019-01-29 22:52:12,2019-04-11 19:00:02,False,25000.0,312716415,True,2019-03-12 19:00:02,TUSKERS,7306.0,False,True,live,2019-03-12 19:00:02,7306.000000,0.292240,252,Graphic Novels,comics,3
209148,51,A dark comedy pilot based on the on stage pers...,2905,US,2018-10-08 20:29:20,2019-04-09 00:40:34,False,5000.0,1789932195,True,2019-02-08 01:40:34,The Mick Chronicles,2905.0,False,False,live,2019-02-08 01:40:35,2905.000000,0.581000,292,Comedy,film & video,11

In [36]:
print(x.deadline.min())
print(x.created_at.max())

2019-03-14 03:45:30
2019-03-14 01:25:26

In [37]:
frame= frame.drop(frame[(frame.state == 'live')].index)
frame

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.0,True,False,successful,2017-09-09 17:00:59,1950.000000,1.950000,273,Playing Cards,games,12
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.0,True,False,successful,2013-06-12 05:03:15,22404.000000,1.493600,43,Rock,music,14
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.0,False,False,failed,2017-03-13 17:22:56,165.384934,0.016500,273,Playing Cards,games,12
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.0,True,False,successful,2013-01-09 20:32:07,2820.000000,1.007143,48,Nonfiction,publishing,18
5,35,Annapolis Chamber Players is a non-for profit ...,3725,US,2014-10-24 17:35:50,2015-05-02 02:25:46,False,3500.0,1224600291,False,2015-04-02 02:25:46,Annapolis Chamber Music Project,3725.0,True,False,successful,2015-05-02 02:25:46,3725.000000,1.064286,36,Classical Music,music,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209217,341,"Starship miniatures and 18x24"" deckplan poster...",8924,US,2018-11-27 02:48:11,2018-12-12 04:45:00,False,1500.0,1011591139,False,2018-11-27 22:38:32,Jade & Remora: Starship Maps & Miniatures,8924.0,True,False,successful,2018-12-12 04:45:01,8924.000000,5.949333,34,Tabletop Games,games,12
209218,72,"Soul, hip-hop and sexy falsettos with an opera...",5710,NL,2017-04-24 13:46:12,2017-06-19 22:00:00,False,5000.0,4607750,False,2017-05-14 17:21:54,ARIA LESTER Debut EP,5100.0,True,False,successful,2017-06-19 22:00:00,5575.830204,1.142000,38,Electronic Music,music,14
209219,62,What started as a homemade gift has turned int...,2681,US,2012-07-03 19:29:55,2012-09-17 03:59:00,False,2500.0,67097337,False,2012-08-14 20:36:30,FlashPals: Cuddly USB Drives Save More Than Yo...,2681.0,True,False,successful,2012-09-17 03:59:01,2681.000000,1.072400,52,Hardware,technology,16
209220,76,Seattle Transmedia & Independent Film Festival...,5692,US,2015-03-02 00:42:37,2015-04-20 13:26:15,False,5500.0,1031742546,False,2015-03-21 13:26:15,Transmedia Gallery Space STIFF 2015,5692.0,True,False,successful,2015-04-20 13:26:19,5692.000000,1.034909,295,Festivals,film & video,11
209221,44,The @1000TimesYes 2009 Tweet Box is a handmade...,1293,US,2010-01-11 16:05:00,2010-02-22 04:59:00,False,1000.0,1374988684,False,2010-01-21 18:46:33,The @1000TimesYes 2009 Tweet Box,1293.0,True,True,successful,2010-02-22 05:00:15,1293.000000,1.293000,13,Journalism,journalism,13

In [38]:
frame.id.nunique()

168979

In [39]:
duplicates = frame[frame.duplicated(subset='id')]
duplicates.sort_values(by=['id'])

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
203736,68,"The BEST beef sticks, beef jerky and signature...",3239,US,2016-05-15 18:58:21,2016-06-30 22:34:18,False,2500.0,39036,False,2016-05-16 22:34:18,The Meat Candy Experience,3239.0,True,False,successful,2016-06-30 22:34:18,3239.000000,1.295600,313,Small Batch,food,10
68551,338,"4tec is a classic 4 in a row table top game, r...",15368,IE,2018-07-05 10:46:58,2018-10-10 06:48:50,False,5000.0,39235,False,2018-09-10 06:48:50,4tec: a New 3D Connect 4 Game,13352.0,True,False,successful,2018-10-10 06:48:51,15440.032893,3.073600,34,Tabletop Games,games,12
162965,52,Professional graphic designers need profession...,2985,US,2018-04-05 19:35:16,2018-06-01 18:22:31,False,1250.0,50419,False,2018-05-02 18:22:31,Graphic design tools for award-winning designs,2985.0,True,False,successful,2018-06-01 18:22:31,2985.000000,2.388000,27,Graphic Design,design,7
89589,28,Audiobook of short stories about Italian cooki...,1025,US,2018-11-27 14:58:18,2019-02-03 16:50:44,False,1000.0,188790,False,2018-12-05 16:50:44,Stories of Food and Life,1025.0,True,False,successful,2019-02-03 16:50:45,1025.000000,1.025000,48,Nonfiction,publishing,18
200983,57,About the impact of addiction on relationships...,5181,GB,2015-04-13 16:22:50,2015-06-18 10:41:07,False,3000.0,342881,False,2015-05-19 10:41:07,Better to Have Loved...?,3271.0,True,False,successful,2015-06-18 10:41:07,5140.600367,1.727000,285,Plays,theater,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137762,46,"Just in time for grilling season. An ""all pur...",1642,US,2017-06-15 13:11:35,2017-06-30 18:19:18,False,1000.0,2147144291,False,2017-06-15 18:19:18,Jubilee Espresso Rub,1642.0,True,False,successful,2017-06-30 18:19:19,1642.000000,1.642000,313,Small Batch,food,10
102009,2,NudeART Book and Fineart Print for You. \nWith...,241,DE,2015-07-30 16:01:10,2015-08-29 17:02:41,False,159.0,2147180546,False,2015-07-30 17:02:41,NudeART - Hardcover Book and FineART Print,216.0,True,False,successful,2015-08-29 17:02:41,239.308929,1.515723,280,Photobooks,photography,15
201817,7,"This is a project, which aims to save lives of...",252,GB,2016-03-21 18:09:51,2016-06-01 00:35:29,False,18500.0,2147283151,False,2016-04-02 00:35:29,The Call - a voice to the voiceless,172.0,False,False,failed,2016-06-01 00:35:29,246.766923,0.013622,358,Photo,journalism,13
144573,56,"With your support, Movema can relocate to offi...",4793,GB,2016-04-05 11:34:55,2016-05-12 12:23:32,False,3000.0,2147339483,False,2016-04-12 12:23:32,Movema Dance Studio,3320.0,True,False,successful,2016-05-12 12:23:32,4690.378505,1.597667,256,Spaces,dance,6
159940,709,"Over 6,000 thoughtfully designed icons that ar...",70751,US,2017-06-01 12:43:16,2017-08-18 18:00:00,False,12000.0,2147345648,False,2017-07-26 13:13:04,"Symbolicons Pro: Your friendly, versatile, go-...",70751.0,True,False,successful,2017-08-18 18:00:00,70751.000000,5.895917,51,Software,technology,16

In [40]:
frame.loc[frame['id'] == 2147283151		]

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
20082,7,"This is a project, which aims to save lives of...",252,GB,2016-03-21 18:09:51,2016-06-01 00:35:29,False,18500.0,2147283151,False,2016-04-02 00:35:29,The Call - a voice to the voiceless,172.0,False,False,failed,2016-06-01 00:35:29,246.766923,0.013622,358,Photo,journalism,13
201817,7,"This is a project, which aims to save lives of...",252,GB,2016-03-21 18:09:51,2016-06-01 00:35:29,False,18500.0,2147283151,False,2016-04-02 00:35:29,The Call - a voice to the voiceless,172.0,False,False,failed,2016-06-01 00:35:29,246.766923,0.013622,358,Photo,journalism,13

In [41]:
frame= frame.drop_duplicates(subset='id')
frame

,backers_count,blurb,converted_pledged_amount,country,created_at,deadline,disable_communication,goal,id,is_starrable,launched_at,name,pledged,spotlight,staff_pick,state,state_changed_at,usd_pledged,ratio_target,subcategy_id,subcategory,category,category_id
1,47,A colorful Dia de los Muertos themed oracle de...,1950,US,2017-08-02 14:28:13,2017-09-09 17:00:59,False,1000.0,928751314,False,2017-08-10 17:00:59,The Ofrenda Oracle Deck,1950.00,True,False,successful,2017-09-09 17:00:59,1950.000000,1.950000,273,Playing Cards,games,12
2,271,"Electra's long awaited, eclectic Debut Pop/Roc...",22404,US,2012-09-30 06:45:33,2013-06-12 05:03:15,False,15000.0,928014092,False,2013-05-13 05:03:15,"Record Electra's Debut Album (Pop, Rock, Class...",22404.00,True,False,successful,2013-06-12 05:03:15,22404.000000,1.493600,43,Rock,music,14
3,3,The Mist of Tribunal is a turn-based card game...,165,GB,2017-01-07 09:11:11,2017-03-13 17:22:56,False,10000.0,596091328,False,2017-01-12 18:22:56,The Mist of Tribunal - A Card Game,136.00,False,False,failed,2017-03-13 17:22:56,165.384934,0.016500,273,Playing Cards,games,12
4,3,"Livng with a brain impairment, what its like t...",2820,US,2012-12-06 18:04:31,2013-01-09 20:32:07,False,2800.0,998516049,False,2012-12-10 20:32:07,Help change the face of Brain Impairment,2820.00,True,False,successful,2013-01-09 20:32:07,2820.000000,1.007143,48,Nonfiction,publishing,18
5,35,Annapolis Chamber Players is a non-for profit ...,3725,US,2014-10-24 17:35:50,2015-05-02 02:25:46,False,3500.0,1224600291,False,2015-04-02 02:25:46,Annapolis Chamber Music Project,3725.00,True,False,successful,2015-05-02 02:25:46,3725.000000,1.064286,36,Classical Music,music,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209216,108,*PRE-SALES* for Our first Full-Length Album- c...,4078,US,2014-07-17 19:33:05,2014-10-01 23:44:00,False,3883.0,672518235,False,2014-08-04 17:29:16,"It Springs to Life...""Pellucidity"" YAIMA's Fir...",4078.22,True,False,successful,2014-10-01 23:44:00,4078.220000,1.050219,38,Electronic Music,music,14
209218,72,"Soul, hip-hop and sexy falsettos with an opera...",5710,NL,2017-04-24 13:46:12,2017-06-19 22:00:00,False,5000.0,4607750,False,2017-05-14 17:21:54,ARIA LESTER Debut EP,5100.00,True,False,successful,2017-06-19 22:00:00,5575.830204,1.142000,38,Electronic Music,music,14
209219,62,What started as a homemade gift has turned int...,2681,US,2012-07-03 19:29:55,2012-09-17 03:59:00,False,2500.0,67097337,False,2012-08-14 20:36:30,FlashPals: Cuddly USB Drives Save More Than Yo...,2681.00,True,False,successful,2012-09-17 03:59:01,2681.000000,1.072400,52,Hardware,technology,16
209220,76,Seattle Transmedia & Independent Film Festival...,5692,US,2015-03-02 00:42:37,2015-04-20 13:26:15,False,5500.0,1031742546,False,2015-03-21 13:26:15,Transmedia Gallery Space STIFF 2015,5692.00,True,False,successful,2015-04-20 13:26:19,5692.000000,1.034909,295,Festivals,film & video,11
209221,44,The @1000TimesYes 2009 Tweet Box is a handmade...,1293,US,2010-01-11 16:05:00,2010-02-22 04:59:00,False,1000.0,1374988684,False,2010-01-21 18:46:33,The @1000TimesYes 2009 Tweet Box,1293.00,True,True,successful,2010-02-22 05:00:15,1293.000000,1.293000,13,Journalism,journalism,13